<h1>User <%=@user.id%> <%=@user.first_name%> <%=@user.last_name%></h1>
<br>
<h2>Course crees</h2>
<%@user.courses.each do |course|%>
  <%= course.name %>
  <%= link_to "voir détails du cours", course_path(course)%>
  <ul>
    <li>Nb max de participants</li>
    <%= course.max_of_attendees %>
    <li>Nb d'inscrits</li>
    <%= course.attendee_count %>
    <% if course.attendee_count != 0 %>
      <li>Détails des participants</li>
      <% course.reservations.each do |reservation| %>
          <li>nom:<%= reservation.user.first_name %></li>
          <li>commentaire:<%= reservation.details %></li>
        <% end %>
      <% end %>
  </ul>
<%end%>
<br>
<%= link_to "Créer un nouveau cours", new_course_path %>
<br>
<h2>Reservations</h2>
<ul><%@user.reservations.each do |reservation|%>
  <li><% if reservation.details == nil %>
  <%= "Vous n'avez pas reserve de cours." %>
  <%end%>
  <%= reservation.details%> - <%= reservation.course.name%> <%= link_to "Delete", reservation_path(reservation), method: :delete %></li>
<%end%>
</ul>
