<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
<h1>Bonjour <%=@user.first_name%>!</h1>
<h2>Cours créés (je suis le prof !)</h2>
  <h3>Cours créés à venir :</h3>
  <ul><%@user.courses.each do |course|%>
  <% if course.date >= Time.now %>
    <li>
      <%= link_to course.name, course_path(course), class: "btn btn-flat"%>
      <p>Nb max de participants : <%= course.max_of_attendees %></p>
      <p>Nb d’inscrits : <%= course.attendee_count %></p>
      <% if course.attendee_count != 0 %>
        <p>Détails des participants :</p>
        <% course.reservations.each do |reservation| %>
            <p>nom: <%= reservation.user.first_name %> - commentaire: <%= reservation.details %></p>
          <% end %>
        <% end %>
    </li>
    <%end%>
  <%end%>
  </ul>

<h3>Cours créés passés :</h3>
  <ul><%@user.courses.each do |course|%>
  <% if course.date < Time.now %>
    <li>
      <%= link_to course.name, course_path(course), class: "btn btn-flat"%>
      <p>Reviews :</p>
      <% course.reviews.each do |review| %>
      <p>Rating : <%= review.rating %> - Content : <%= review.content %></p>
      <% end %>
    </li>
    <%end%>
  <%end%>
  </ul>


<h2>Mes réservations (je suis l'élève!)</h2>
<h3>Mes réservations à venir :</h3>
  <ul><% @user.reservations.select do |resa|%>
    <% if resa.course.date >= Time.now%>
      <li><%=resa.course.name%> - <%=resa.course.date%> à <%=resa.course.starting_time%> <%= link_to "Annuler ma réservation", reservation_path(resa), method: :delete, class: "btn btn-flat" %>
      <%= link_to "Modifier ma réservation", edit_reservation_path(resa), class: "btn btn-flat"%></li>
    <%end%>
  <%end%></ul>
  </ul>

<h3>Mes réservations passées :</h3>
  <ul><% @user.reservations.select do |resa|%>
    <% if resa.course.date < Time.now%>
      <li><%=resa.course.name%> <%=link_to "Ajouter un commentaire", new_course_review_path(resa.course), class: "btn btn-flat" %></li>
    <%end%>
  <%end%></ul>
    <br>
  </div>
</div>
