<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2015/04/20/17/39/man-731900_1280.jpg);">
  <div class="container">
    <h1>GrowPeas</h1>
    <p>Fais germer tes nouvelles passions et découvre tous les cours autour de toi!</p>
    <% if user_signed_in? %>
    <% else %>
      <%= link_to "Inscris-toi", new_user_registration_path, class: "btn btn-success rounded-5 shadow" %>
    <% end %>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4 my-3 px-3">
      <%= link_to sport_courses_path, class: "text-decoration-none" do %>
      <div class="card sport">
        <%= image_tag "woman_sport.jpg" %>
        <div class="card-body">
          <h3 class="card-title">Sport</h3>
          <p class="card-text">Tentez de nouvelles expériences sportives avec les athlètes de votre ville !</p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3 px-3">
      <%= link_to cuisine_courses_path, class: "text-decoration-none" do %>
      <div class="card cuisine">
        <%= image_tag "cuisine.jpg" %>
        <div class="card-body">
          <h3 class="card-title">Cuisine</h3>
          <p class="card-text">Prenez des cours de cuisine dignes de pros auprès de cuisiniers amateurs !</p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3 px-3">
      <%= link_to artisanat_courses_path, class: "text-decoration-none" do %>
      <div class="card artisanat">
        <%= image_tag "artisanat.jpg" %>
        <div class="card-body">
          <h3 class="card-title">Artisanat</h3>
          <p class="card-text">Confectionnez de beaux objets avec les rois du DIY !</p>
          </div>
      </div>
      <% end %>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3 px-3">
      <%= link_to musique_courses_path, class: "text-decoration-none" do %>
      <div class="card musique">
        <%= image_tag "musique.jpg" %>
        <div class="card-body">
          <h3 class="card-title">Musique</h3>
          <p class="card-text">Découvrez les cours de musique proposés par les passionnés de votre région !</p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3 px-3">
      <%= link_to arts_courses_path, class: "text-decoration-none" do %>
      <div class="card arts">
        <%= image_tag "arts.jpg" %>
        <div class="card-body">
          <h3 class="card-title">Arts</h3>
          <p class="card-text">Découvrez les cours d’arts proposés par les passionnés de votre région !</p>
          </div>
      </div>
      <% end %>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3 px-3">
      <%= link_to langues_courses_path, class: "text-decoration-none" do %>
      <div class="card langues">
       <%= image_tag "langues.jpg" %>
        <div class="card-body">
          <h3 class="card-title">Langues</h3>
          <p class="card-text">Apprenez ou améliorez vos langues étrangères avec des natifs autour de vous !</p>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<br>
