<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.pixabay.com/photo/2015/04/20/17/39/man-731900_1280.jpg);">
  <div class="container">
    <h1>GrowPeas</h1>
    <p>Post or join classes of all kind near you!</p>
    <a class="btn btn-success rounded-5 shadow" href="#">Sign up now!</a>
  </div>
</div>
<br>
<div class="container mx-auto my-4">
  <div class="row">
    <div class="co-12 col-sm-6 col-md-4 my-3">
      <%= link_to sport_courses_path, class: "text-decoration-none" do %>
        <div class="card" style="width: 23rem;">
        <%= image_tag "woman_sport.jpg" %>
          <div class="card-body">
            <h5 class="card-title">Sport</h5>
            <%# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> %>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%# <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
            <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="co-12 col-sm-6 col-md-4 my-3">
      <%= link_to cuisine_courses_path, class: "text-decoration-none" do %>
        <div class="card black" style="width: 23rem;">
        <%= image_tag "cuisine.jpg" %>
          <div class="card-body">
            <h5 class="card-title">Cuisine</h5>
            <%# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> %>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%# <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
            <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="co-12 col-sm-6 col-md-4 my-3">
      <%= link_to artisanat_courses_path, class: "text-decoration-none" do %>
        <div class="card black" style="width: 23rem;">
        <%= image_tag "artisanat.jpg" %>
          <div class="card-body">
            <h5 class="card-title">Artisanat</h5>
            <%# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> %>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%# <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
            <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="co-12 col-sm-6 col-md-4 my-3">
      <%= link_to musique_courses_path, class: "text-decoration-none" do %>
        <div class="card black" style="width: 23rem;">
        <%= image_tag "musique.jpg" %>
          <div class="card-body">
            <h5 class="card-title">Musique</h5>
            <%# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> %>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%# <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
            <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="co-12 col-sm-6 col-md-4 my-3">
      <%= link_to arts_courses_path, class: "text-decoration-none" do %>
        <div class="card black" style="width: 23rem;">
        <%= image_tag "arts.jpg" %>
          <div class="card-body">
            <h5 class="card-title">Arts</h5>
            <%# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> %>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%# <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
            <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="co-12 col-sm-6 col-md-4 my-3">
      <%= link_to langues_courses_path, class: "text-decoration-none" do %>
        <div class="card black" style="width: 23rem;">
        <%= image_tag "langues.jpg" %>
          <div class="card-body">
            <h5 class="card-title">Langues</h5>
            <%# <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> %>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%# <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
            <a href="#" class="btn "><i class="fab fa-github"></i> Github</a> %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>
