<div class="container-fluid mx-auto my-0">
  <div class="row">

    <div class="col-6">
    <div class="search m-1">
        <h2>Cherchez un cours :</h2>
        <%= form_tag courses_path, method: :get do %>
        <%= text_field_tag :query_word,
          params[:query_word],
          class: "form-control",
          placeholder: "Que voulez-vous faire ?" %>
        <%= date_field_tag :query_date,
          params[:query_date],
          class: "form-control",
          placeholder: "Find a course" %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
        <% end %>
      </div>
      <div class="d-flex align-items-center m-3 mb-0">
        <div class="title">
          <h1>Tous les cours de langues</h1>
        </div>
      </div>
      <div class="card-map">
        <div class="row">
          <% @courses.each do |course| %>
            <div class="col-12 col-md-4 my-3">
              <%= link_to course_path(course), class:"text-decoration-none" do %>
              <div class="card card-index" style= "background-color: <%= course.activity.category.color  %> ">
                <% if course.photo.attached? %>
                <%= cl_image_tag course.photo.key %>
                <% else %>
                <%= image_tag "growpeas_blank.png" %>
                <% end %>
                <div class="card-body">
                  <h3 class="card-title"><%= course.name %></h3>
                  <% if course.attendee_count >= course.max_of_attendees %>
                  <p>Le cours est complet !</p>
                  <% end %>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
        </div>
      </div>
    </div>

    <div class="col-6 pe-0 py-0">
      <div id="map" style="width: 100%; height: 800px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>

</div>
