  <h1>Cours</h1>
<div class="container d-flex justify-content-start">
  <div class="card card-profil mb-4" style="width: 40rem; background-color: <%= @course.activity.category.color %>">
    <% if @course.photo.attached? %>
      <%= cl_image_tag @course.photo.key %>
    <% else %>
      <%= image_tag 'icon_growpeas.png'%>
    <% end %>
    <div class="card-body" style= "background-color: <%= @course.activity.category.color %>">
      <h2 class="card-title"><%= @course.name %></h2>
      <p class="card-text"><%= @course.description %></p>
    </div>
    <div class="list-profil">
      <ul class="list-group list-group-flush">
        <li class="list-group-item" style= "background-color: <%= @course.activity.category.color  %>">Le <%= @course.date %></li>
        <li class="list-group-item" style= "background-color: <%= @course.activity.category.color  %>"><%= @course.starting_time %></li>
        <li class="list-group-item" style= "background-color: <%= @course.activity.category.color  %>">Prix: <%= @course.price %>€</li>
        <li class="list-group-item" style= "background-color: <%= @course.activity.category.color  %>">Adresse: <%= @course.address %></li>
        <li class="list-group-item" style= "background-color: <%= @course.activity.category.color  %>">Max. Participants: <%= @course.max_of_attendees %></li>
      </ul>
    </div>
    <div class="card-body d-flex justify-content-between" style= "background-color: <%= @course.activity.category.color %>">
      <% if @course.user = current_user %>
        <%= link_to 'Supprimer',
                        course_path(@course),
                        method: :delete,
                        data: { confirm: "Are you sure?" }, class: "btn btn light" %>
          <%= link_to "Modifier", edit_course_path(@course), class: "btn btn light" %>
      <% end %>
      <% if @course.attendee_count >= @course.max_of_attendees %>
        <p>Le cours est complet !</p>
      <% else %>
        <%= link_to "Add a reservation", new_course_reservation_path(@course), class: "btn btn light" %>
      <% end %>
      <%= link_to "Retour aux cours", courses_path, class: "btn btn light" %>
    </div>
  </div>
</div>

<h3>Reviews</h3>
<ul><% @course.reviews.each do |review|%>
  <li><%=review.rating%> - <%=review.content%></li> - <%= link_to "Update", edit_review_path(review), class: "btn btn-flat"%>
<%end%></ul>
