<h1>Cours</h1>
<h2><%= @course.name %></h2>

<% if @course.photo.attached? %>
<%= cl_image_tag @course.photo.key, height: 300, width: 400, crop: :fill %>
<% else %>
<%= image_tag 'icon_growpeas.png'%>
<% end %>

<%= @course.name %>
  <%= @course.name %>
  <%= @course.duration %>
  <%= @course.starting_time %>
  <%= @course.date %>
  <%= @course.description %>
  <%= @course.price %>
  <%= @course.address %>
  <%= @course.max_of_attendees %>
<%= link_to "Retour aux cours", courses_path, class: "btn btn-flat" %>
<%= link_to 'Supprimer',
                    course_path(@course),
                    method: :delete, class: "btn btn-flat",
                    data: { confirm: "Are you sure?" } %>

<%= link_to "Modifier", edit_course_path(@course), class: "btn btn-flat" %>
<%if @course.date <= Time.now %>
<p>Le cours n'est plus disponible.</p>
<% elsif @course.attendee_count >= @course.max_of_attendees %>
<p>Le cours est complet !</p>
<% else %>
<%= link_to "Add a reservation", new_course_reservation_path(@course), class: "btn btn-flat"%>
<% end %>

<h3>Reviews</h3>
<ul><% @course.reviews.each do |review|%>
  <li><%=review.rating%> - <%=review.content%></li> - <%= link_to "Update", edit_review_path(review), class: "btn btn-flat"%>
<%end%></ul>
