<h1>Cours</h1>
<h2><%= @course.name %></h2>

<%= @course.name %>
  <%= @course.name %>
  <%= @course.duration %>
  <%= @course.starting_time %>
  <%= @course.date %>
  <%= @course.description %>
  <%= @course.price %>
  <%= @course.address %>
  <%= @course.max_of_attendees %>
<%= link_to "Retour aux cours", courses_path %>
<%= link_to 'Supprimer',
                    course_path(@course),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>

<%= link_to "Modifier", edit_course_path(@course) %>
