<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1>Que souhaitez-vous modifier dans votre review ?</h1>

      <%= simple_form_for [@course, @review] do |f| %>
        <%= f.input :rating %>
        <%= f.input :content %>
        <%= f.button :submit, class: "ps-0 btn btn-flat" %>
      <% end %>

      <%= link_to 'Go back to your classes', course_path, class: "btn btn-flat ps-0" %>
    </div>
  </div>
</div>
